#containerHome{
    width: 90vw;
    height: 80vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.sceltaMenu{
    width: 20vw;
    height: 20vw;
    border: 0.15vw solid black;
    border-radius: 3vw;
    background-color: rgb(230, 230, 230);
    display: flex;
    justify-content: center;
    align-items: center;
}

.sceltaMenu span{
    font-size: 3vh;
}

.sceltaMenu:hover{
    background-color: rgb(178, 178, 178);
}