#containerApp{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#containerTabella{
    width: 50vw;
    border: 0.2vw solid black;
}

table{
    width: 50%;
    border: 0.2vw solid black;
    margin-top: 3vh;
}